<footer>
  <div class="content has-text-centered">
    <div class="is-flex is-justify-content-center">
      {{> cafe-brand-light}}
    </div>

    <p>
      &copy; {{currentYear}} <strong class="has-text-white">Beanmap</strong>. All rights reserved.
    </p>
    <p class="is-size-7">
      Built by
      <a href="https://github.com/KristianColville1/node-full-stack-1" class="has-text-grey has-text-weight-semibold"
        target="_blank" rel="noopener noreferrer">
        Kristian Colville
      </a>
    </p>
  </div>
</footer>