<section class="section">
    <div class="columns is-centered">
        <div class="column is-6-tablet is-7-desktop">
            <div class="card form-card">
                <div class="card-content">
                    <h1 class="title is-4">Sign up</h1>
                    {{#if error}}
                    <div class="notification is-danger">{{error}}</div>
                    {{/if}}
                    <form action="/signup" method="POST">
                        <label class="label">Name</label>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <input class="input" type="text" placeholder="First name" name="firstName">
                                </div>
                                <div class="field">
                                    <input class="input" type="text" placeholder="Last name" name="lastName">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <input class="input" type="text" placeholder="Enter email" name="email">
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <input class="input" type="password" placeholder="Enter Password" name="password">
                        </div>
                        <div class="field">
                            <button class="button is-link is-fullwidth">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>